:root {
    --darkGray: #434343;
    --mediumGray: #777777;
    --fairGray: #BFBFBF;
    --borderGray: #CCCCCC;
    --footerGray: #2A2B2B;
    --white: #FFFFFF;
    --black: #000000;
    --title: #3C523A;
}

img {
    width: 100%;
    height: 100vh;
}

.slick-dots {
    background: red;
}


.slick-dots li button:before {
    font-size: 20px;
}


.SimpleSlider.slick-dots {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
}


/*.slick-dots li button:before {*/
/*    font-size: 20px;*/
/*}*/

.slick-dots li button {

}