.box1 {
    padding: 3vh 10vw;
    background-color: var(--darkGray);
    color: var(--white);
    padding-bottom: 4vh;
    margin: auto;
}

.multipleItens img {
    width: 90%;
    height: auto;
    margin: auto;
    border: 4px solid var(--mediumGray);
}

.multipleItens p{
    margin: auto 2vw;
}
